* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Caveat", cursive;
}
body {
    background-color: blanchedalmond;
    margin: auto;
}
header {
    font-size: 2rem;
    margin: 0;
}
#navi{
    text-align: center;
}
#navi .nav-link {
    padding: 5px;
    align-content: center;
    display: inline-block;
    margin: .5rem 2rem 1rem 2rem;
    text-decoration: none;
    color: black;
}
#first {
    margin: 0;
    max-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}
#first .description, .gojo {
    border: .5rem solid black;
    margin-top: 1rem;
}
.gojo {
    margin-left: 1rem;
}
.gojo img {
    height: 200px;
    width: 200px;
    margin: .5rem;
    display: inline-block;
}
.description {
    margin-left: 2rem;
    margin-top: 0;
    width: 30rem;
}
.description p {
    font-size: 2.5rem;
    display: inline-block;
}

